@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&display=swap");

:root {
  --black: #363636;
  --grey: #757575;
  --white: #ffffff;
  --green: #3ce0a0;
  --light-green: #e4f4ed;
  --yellow: #ffd900;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito";
  font-weight: 900;
  color: var(--black);
}

header {
  width: 100%;
  padding: 1.5% 5%;
  background: cyan;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
}

nav {
  width: 20%;
  height: 100vh;
  padding: 2% 4%;
  background: var(--green);
  display: flex;
  flex-direction: column;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 20% 0;
}

nav a {
  color: white;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

nav a:hover {
  color: var(--black);
}

section {
  width: 80%;
  background: pink;
}
