/* ___ FONTS AND VARIABLES */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css");

:root {
  --black: #363636;
  --grey: #757575;
  --white: #ffffff;
  --green: #3ce0a0;
  --light-green: #e4f4ed;
  --yellow: #ffd900;
}

/* ___ GENERAL LAYOUT STYLING */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  overflow: hidden;
  font-family: "Nunito";
  font-weight: 900;
  color: var(--black);
}

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#left {
  width: 15%;
}

#right {
  width: 85%;
}

/* ___ HEADER */

header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

header h1 {
  margin-left: 15%;
}

/* ___ MAIN */

main {
  width: 100%;
  display: flex;
}

/* navigation / menu */

nav {
  background: var(--green);
  height: calc(100% - 100px);
  padding: 10% 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul#menu > li {
  margin: 10% 0;
  padding: 0;
}

ul.dropdown {
  margin: 0;
  height: auto;
  overflow: hidden;
  font-size: 0.8rem;
  transition: height 0.3s ease-in-out;
}

ul.dropdown li {
  margin: 3% 10%;
}

ul.dropdown a,
ul.dropdown a:hover {
  border-left: none;
}

.toggle.open {
  color: var(--black);
  border-left: 5px solid var(--white);
}

nav a,
.toggle {
  width: 100%;
  display: block;
  text-align: left;
  padding: 2% 10%;
  cursor: pointer;
  color: var(--white);
  font-weight: inherit;
  background: none;
  border-left: 5px solid transparent;
  border-top: none;
  border-bottom: none;
  border-right: none;
  text-decoration: none;
  outline: none;
}

nav a:hover,
nav .toggle:hover {
  color: var(--black);
  border-left: 5px solid var(--white);
}

.fa-chevron-down {
  margin: 0 0 0 10px;
  transition: 0.3s ease-in-out;
}

.rotate {
  transform: rotate(-180deg);
  transition: 0.3s ease-in-out;
}

.drop-icons {
  margin: 0 0.5rem 0 -1.5rem;
  font-size: 0.8rem;
  opacity: 0;
}

.slidein {
  animation: slidein 0.3s ease-in-out both;
}

.slideout {
  animation: slideout 0.3s ease-in-out both;
}

@keyframes slidein {
  from {
    opacity: 0;
    margin-left: -1.5rem;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes slideout {
  from {
    opacity: 1;
    margin-left: 0;
  }
  to {
    opacity: 0;
    margin-left: -1.5rem;
  }
}

/* section 'les patients du cabinet' */

section {
  background: pink;
  font-size: 1.5rem;
}
